* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;

}
h1,h2,h3,h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}
html {
    scroll-behavior: smooth;
  }
ul{
    list-style: none;
}
.container{
    position: relative;
}
a{
    text-decoration: none;
    display: inline-block;
}
#hamburger{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 40px 90px;
    
}
.top1{
    top: 0;
    position: absolute;
}
nav:hover{
    background-color: #113448;
}
nav ul {
    display: flex;
    
}
nav ul li:hover, nav ul a:hover{
    color: #14bf98;
    
}
nav span:hover{
    background: none;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: white;
    color: #14BF98;
}
.top-logo {
    height: 2.2rem;
    width: 7.2rem;
}
nav ul a {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.icons span{
    background-image: url(assets/hexagon-green.svg);
    background-repeat: no-repeat;
    background-size: 1.625rem;
    background-position: center;
    height: 1.625rem;
    width: 1.625rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons top {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

header {
    background-image: url(assets/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    /* padding-top: 14.75rem;
    padding-bottom: 17.5rem; */
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 14.75rem;
    padding-bottom: 17.5rem;
    background-color: rgba(0,0,0,0.4)
    
}
.overlay .text {
    text-align: center;
    width: 41%;
    padding-top: 6.5rem;
    padding-bottom: 3rem;
}
.overlay .text h1 {
    font-size: 55px;
}
.green-btn {
    background-color: #14BF98;
    color: white;
    padding: 15px 40px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 30px;
    border: 1px solid #14BF98;
}
.green-btn:hover{
    background:none;
    color: #14BF98;
}
 .green-p {
    color: #14BF98;
    font-size: 13px;
    font-weight: 600;
    /* margin-bottom: 3%; */
}
.intro{
    padding: auto;
    margin: 10%;
}
#intro-1{
    color: #484A46;
    display: flex;
    
}
.intro-text p, .intro-text h3, .intro-text h2 {
    margin-bottom: 6%;
}
.intro img{
    border-radius: 6px;
    width: 95%;
}

.intro-text {
    width: 30%;
    margin: 5%;
    
}
.intro-icons {
    display: flex;
    
}
.intro-2 {
    margin: 4% 5%;
    color: #484A46;
}
.intro-2 h3 {
    margin-bottom: 7%;
}
.intro-2 span {
    background-image: url(assets/hexagon-green.svg);
    background-size: 98px;
    color: white;
    background-repeat: no-repeat;
    background-size: 6.25rem;
    background-position: center;
    height: 6.25rem;
    width: 6.25rem;
    font-size: 2rem;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services {
    text-align: center;
    background-color: #FBFBFB;
    padding: 9%;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
    margin-top: 5%;
}
.text-h > h2 {
    padding: 0 33%;
    margin-top: 1%;
}
.services-grid img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10%;
}
.grid-data{
    background-color: white;
    width: 90%;
    color: #484A46;
    border: 1px solid #ebe8e8;
    border-radius: 5px;
    position: relative;
}
.grid-data ul li{
    list-style-position: inside;
    list-style-type: square;
    margin-bottom: 3%;
    color: #14BF98;
}
.grid-data ul p {
    color: #484A46;
    display: inline;

}
.serv-data .green-btn{
    position: absolute;
    bottom: -20px;
    left: 117px;
}
.serv-data h3{
    margin-bottom: 11%;
    
}
.serv-data> p {
    padding: 0 15%;
    margin-bottom: 5%;
}
.grid-data h2 {
    font-size: 24px;
    margin-bottom: 7%;
    padding: 0 10%;
}
.no-name .details{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: #484A46;
}
.details-data1 div {
    display: flex;
    font-size: 16px;
    margin: 5% 0;
}
.hide{
    display: none;
}
.details-data1 div span{
    width: 30px;
    height: 30px;
    font-weight: 700;
    font-size: larger;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    margin: 2% 3%;
}
.details-data1 h1 {
    font-size: 28px;
}
.details-data1 p{
    margin-left: 12%;
    color: #737671;
    margin-top: -4%;
}
.hv-gr:hover{
    color: #14BF98;
}
.hv-gr:hover span{
    border: 2px solid #14BF98;
    background-color: #14BF98;
    color: white;
}
/* .hv-gr:hover .hide{
    display: ;
} */
.details img{
    width: 49.6vw;
    
}
.no-name .details{
    m
}
#consult{
    text-align: center;
}
.details-data1 {
    margin: 7% 11% 7% 9%;;
}
.details-data2{
    display: flex;
    flex-direction: column;
}
.details2-text h4{
    font-weight: 600;
    font-size: 15px;
    margin-top: 5%;
}
.details-data2 p{
    color: #737671;
    margin-top: 3%;
}
.details-data2 a{
    color: #14BF98;
    text-decoration: underline;
}
.bar1{
    background-color: #14bf98;
    width: 100%;
    height: 23px;
    border-radius: 5px;
    margin-top: 1%;
    
}
.bar2{
    background-color: #14bf98;
    width: 76%;
    height: 23px;
    border-radius: 5px;
    margin-top: 1%;
    
}
.bar3{
    background-color: #14bf98;
    width: 90%;
    height: 23px;
    border-radius: 5px;
    margin-top: 1%;
    
}
.details-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 14% 10% 5% 16%;
    color: #737671;
    font-size: 15px;
}
.details2-text{
    margin-right: 12%;
    margin-left: 20%;
}
li::marker{
    lis
    color: #14BF98;
    font-size: larger;
}
.testimo{
    text-align: center;
    color: #535552;
    padding: 10% 20% 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.testi-data::-webkit-scrollbar {
    height: 8px;
    background-color: #aaa;
    border-radius: 5px;
  }
  
  .testi-data::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 5px;
  }
.testi-h{
    width: 63%;
}
.testi-h h1{
    font-size: 28px;
    margin-bottom: 5%;
}
.testi-main{
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  display: grid;
  grid-auto-columns: 33%;
  grid-auto-flow: column;
}
.testi-data img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 7%;
}
.testi-data{
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-align: center;
}
.testi-data p{
    color: #787976;
    margin: 2% 0 5%;
}
#call-me{
    display: flex;
    background-color: #153e52;
    justify-content: space-around;
}
.call-left{
    width: 50%;
    color: white;
    padding: 8% 8%;
}
.call-left h2{
    font-size: 26px;
    margin: 4% 0;
}
.call-left ul{
    list-style: square;
    list-style-position: inside;
}
.call-left li {
    margin: 3% 0;
}
.call-right{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}
.call-right input[type="text"], .call-right select {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.3125rem;
  border: 1px solid #39728f;
  border-radius: 0.25rem;
  width: 70%;
}
.call-right input[type="text"], .call-right select{
    background-color: #39728f;
    height: 3rem;
    margin: 2% 0;
}
.call-right .call-label{
    position: relative;
}
.call-right .call-label label {
    position: absolute;
    left: 1.375rem;
    top: 1.8125rem;
    color: white;
    font-size: 0.87rem;
    transition: all 300ms;
  }
.call-right input[type="text"]:focus+label{
  font-size: 0.7rem;
  top: 1.5rem;
}
.call-right select{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
    color: white;
}
.call-right p a{
    color: white;
    text-decoration: underline;
    margin: 2% 0 3%;
}
.call-right button{
  width: 70%;
  background-color: #14bf98;
  color: #fff;
  border: 2px solid #14bf98;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 300ms;
}
.call-right button:hover {
    background-color: #113448;
    color: #14bf98;
  }
#consult{
    color: #525352;
    background-color: #fbfbfb;
    padding-top: 6%;
    padding-bottom: 6%;
}
.consult-data{
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}
.consult-h {
    width: 42%;
    margin: auto;
}
.consult-h h3{
    font-size: 30px;
    margin-bottom: 3%;
}
.profiles p, .profiles h3 {
    margin: 3% 0;
}
.profiles span {
    background-image: url(assets/hexagon-green.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    height: 2rem;
    width: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.consult-data .profiles div{
    display: flex;
    justify-content: center;
}
.profiles span:hover{
    background-color: white;
    color: #14BF98;
    background: none;
}
#projects {
    text-align: center;
    padding: 7%;
    
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2% 14%;
}
.projects-grid .one{
    background-image: url(assets/project-1.jpg);
}
.projects-grid .two{
    background-image: url(assets/project-2.jpg);
}
.projects-grid .three{
    background-image: url(assets/project-3.jpg);
}
.projects-grid .four{
    background-image: url(assets/project-4.jpg);
}
.projects-grid .five{
    background-image: url(assets/project-5.jpg);
}
.projects-grid .six{
    background-image: url(assets/project-6.jpg);
}
.projects-grid .seven{
    background-image: url(assets/project-7.jpg);
}
.projects-grid .eight{
    background-image: url(assets/project-8.jpg);
}
.projects-data{
    width: 100%;
    height: 270px;
    background-position: center;
    background-size: cover;
    transition: background-size 0.5s ease;
}
.projects-data p{
    font-size: large;
    font-weight: 800;
    
}
#projects>div> h2{
    color: #525352;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 30px;
}
.projects-options a{
    background-color: #ebe8e8;
    color: #525352;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 6px;
    margin: 1%;
}
.projects-options a:hover{
    background-color: #14BF98;
    color: white;
}
.project-hover{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.projects-data:hover .project-hover{
    visibility:visible;
    opacity: 1;
}
.projects-data:hover {
    background-size: 130%;
}
#about {
    display: flex;
    padding: 10% 20% 10% 10%;
}

#about img {
    width: 514px;
    border-radius: 5px;
}
.about-data{
    margin-left: 10%;
    color: #484A46;
}
.about-data h2{
    font-size: 30px;
    margin: 5% 0;
}
.about-data ul{
    list-style: square;
    margin: 4% 0;
    list-style-position: inside;
    
}
li::marker{
    color: #14BF98;
}
.about-bottom, .about-bottom> div{
    display: flex;
}
.hulk{
    color: #14BF98;
    font-size: 50px;
    margin-right: 5%;
}
.hulk+p{
    margin-top: 8%;
    font-size: 13px;
}
#contact {
    display: flex;
    background-color: #fbfbfb;
    color: #535552;
    justify-content: space-around;
    align-items: center;
    padding: 10% 10%;
}
.contact-form .inputs{
    position: relative;
    margin-left: 3%;
    width: 100%;
}
.contact-form input[type="text"], .contact-form textarea{
padding-top: 1.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.3125rem;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #787976;
  width: 100%;
}
.contact-form input[type="text"]{
    height: 3rem;
}
.contact-form textarea {
    height: 8rem;
}
.contact-form  label {
    position: absolute;
    left: 1.375rem;
    top: 0.8125rem;
    color: #787976;
    font-size: 0.87rem;
    transition: all 300ms;
}
.contact-form input[type="text"]:focus+label, 
.contact-form textarea:focus+label {
    font-size: 0.7rem;
    top: 0.5rem;
}
.contact-form .inputs{
    margin: 3% 0;
}
.contact-form a{
    color: #484A46;
    text-decoration: underline;
    margin: 3% 0 5%;
}
.contact-form button{
  width: 100%;
  background-color: #14bf98;
  color: #fff;
  border: 2px solid #14bf98;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 300ms;
}
.contact-form button:hover{
    background-color: white;
    color: #14bf98;
}
#contact span {
    background-image: url(assets/hexagon-green.svg);
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: 3.3rem;
    background-position: center;
    height: 3.3rem;
    width: 3.3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;

}
#contact span:hover{
    background: transparent;
    color: #14BF98;
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}
#contact section {
    display: flex;
}
.contact-data{
    margin-right: 3%;
    width: 50%;
}
.contact-data h2{
    font-size: 25px;
    margin: 2% 0 3%;
}
.contact-data p{
    margin: 3% 0;
}
.contact-data p i{
    color: #14BF98;

}
.contact-data p a{
    color: #484A46;
    text-decoration: underline;
}
.contact-data h3{
    margin: 7% 0 3%;
    font-size: 22px;
}
.bottom1 {
    width: 100%;
    height: 292px;
    background-color: #113448;
    color: white;
    font-size: small;
}
.bottom1> div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 15% 0;
}
.bottom1>div>div{
    margin-top: 10%;
    margin-right: 8%;
}
.bottom1 a{
    color: white;
    text-decoration: underline;
}
.cen-btm{
    margin: 3% 40%;
}